# mac stuff
.DS_Store

# do not want to share this
private/

# python tests and package stuff
tests/
build/
dist/
.tox/
__pycache__/
*.egg-info/
*.pyc
.private/

# documentation
_build/

# vim
*.swp
examples/*.pd
examples/*.json

# Generated IR/DSL output files
*-ir.json
*-ir.dsl
*-explain.md
*-doc.md
*-doc.json
*.pd.svg
*.pd.png
